.Wallet {
    width: 600px;
    margin: 70px auto 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
    align-items: center;
}

input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #000;
    font-size: 16px;
    color: #000;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

input.name {
    width: 200px;
    margin-right: 10px;
}

input.cost {
    width: 100px;
    margin-right: 10px;
}

.currency {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}

button.add {
    display: block;
    height: 30px;
    width: 100px;
    color: #000;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #000;
    font-size: 18px;
    background: none;
}

.content {
    border: 2px solid #000;
    padding: 0 10px 120px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 300px;
    position: relative;
}

.totalSum {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-top: 2px solid #000;
}

.totalSpent span {
    display: block;
}

.list{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px dashed #000;
}

span.name {
    width: 280px;
}

span.price {
    width: 100px;
}

span.category {
    width: 120px;
}

button.delete {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    color: red;
}


select.select {
    width: 120px;
    border: 2px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    margin-right: 10px;
    font-size: 15px;
}

.Diagram {
    display: flex;
    height: 70px;
    border: 2px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
}

.Diagram span {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Diagram span.other {
    background: grey;

}
.Diagram span.entertainment {
    background: red;

}
.Diagram span.car {
    background: green;

}
.Diagram span.food {
    background: gold;

}
